<div class="rating">
  <label>
    <input type="radio"  (change)="changeRating($event)" [checked]="previousRating==1" value="1"/>
    <span class="icon">★</span>
  </label>
  <label>
    <input type="radio"  (change)="changeRating($event)" [checked]="previousRating==2" value="2" />
    <span class="icon">★</span>
    <span class="icon">★</span>
  </label>
  <label>
    <input type="radio"  (change)="changeRating($event)" [checked]="previousRating==3" value="3" />
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
  </label>
  <label>
    <input type="radio"  (change)="changeRating($event)" [checked]="previousRating==4" value="4" />
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
  </label>
  <label>
    <input type="radio"  (change)="changeRating($event)" [checked]="previousRating==5" value="5" />
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
  </label>
</div>
